.gray {
	color: gray;
}

.green {
	color: green;
}

.cyan {
	color: cyan;
}

.blue {
	color: blue;
}

.violet {
	color: violet;
}

.orange {
	color: orange;
}

.black {
	color: black;
}

.red {
	color: red;
}